@import '~antd/dist/antd.css';

.app {
    background-color: #eff2f6;
    width: 100vw;
    min-height: 100vh;
}

.app-header {
    display: flex;
    justify-content: flex-end;
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 1
}

.app-content {
    padding: 6rem 0;
    min-height: 50rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.app-footer {
    text-align: center;
}

.logout-btn {
    background: none;
    padding: 0 1rem;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    color: #616162;
}

.logout-btn:hover, .logout-btn:active {
    color: #949596;
    border-bottom: 1px solid;
}