.profileInfo {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #eff2f6;
}

.generalInfo {
    padding: 5px 15px;
}

.otherInfo {
    border-top: 1px solid #eff2f6;
    display: flex;
    flex-direction: column;
    padding: 15px;
}