.btn {
    padding: 5px;
    text-align: center;
    white-space: nowrap;
    background-color: #e7e6e6;
    color: #616162;
}

.btn:hover {
    background-color: #ecedee;
    transition: 0.5s;
    opacity: 90%;
    cursor: pointer;
}

.btnTitle {
    padding: 0 5px;
}