.block {
    padding: 7px;
    border: 1px solid rgba(218, 218, 220, 70%);
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.userInfoFieldName {
    color: #616162;
    font-size: 1rem;
}

.userInfoField {
    padding: 0 3px 5px 0;
    font-size: 1rem;
    color: black;
}

.infoField {
    color: #616162;
    white-space: nowrap;
}

.infoBlock {
    text-align: center;
}

.importantInfoField {
    font-size: 1.4rem;
    padding-bottom: 0;
}

.infoBlockContent {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #616162;
}