.wrapper {
    display: flex;
    justify-content: space-between;
}

.user {
    display: flex;
    align-items: center;
    padding: 10px 0 10px 0;
}

.info {
    padding: 0 15px;
}

.btnGroup {
    display: flex;
    justify-content: space-around;
    align-items: start;
}

.btn {
    margin: 5px;
}