.appLayoutContent { /*wrapper inside app-content for page content size and positioning*/
    width: 45rem;
    display: flex;
    justify-content: center;
}

.pageContent { /*page content contains blocks*/
    width: 43rem;
}