.appLayoutContent { /*wrapper inside app-content for page content size and positioning*/
    min-width: 45%;
    display: flex;
    justify-content: center;
}

.pageContent { /*page content contains blocks*/
    min-width: 95%;
    margin: 0 5px;
}