.navbar {
    width: 10rem;
    white-space: nowrap;
}

.navItem {
    padding: 5px;
    display: flex;
}

.navItem:hover {
    background-color: #e6e8ea;
    cursor: pointer;
}

.navItemIcon {
    padding: 0 5px;
}

.navItemTitle {
    padding: 0 5px;
    color: #616162;
    white-space: nowrap;
}