.message {
    display: flex;
}

.info {
    padding-left: 10px;
}

.description {
    display: flex;
    font-size: 0.9rem;
}

.senderName {
    padding-right: 5px;
    color: #1c88ea;
    font-weight: bold;
}