.message {
    display: flex;
    align-items: flex-start;
    padding: 5px;
    margin: 5px;
    transition-delay: 1s;
}

.unreadMessage {
    background-color: rgba(245, 245, 246, 0.7);
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    width: 93%;
}

.description {
    display: flex;
    font-size: 0.9rem;
}

.senderName {
    padding-right: 5px;
    font-size: 0.8rem;
    color: rgba(24, 125, 218, 0.9);
    font-weight: bold;
}

.messageText {
    word-wrap:break-word;
}

.time {
    font-size: 0.8rem;
    color: #616162;
}